body {
    background-color: #C6C6C6
}

header {}

nav div {
    background-color: #CFCFCF;
    margin: 2em;
}

nav div a {
    vertical-align: middle;
    line-height: 36px;
    padding: 10px 16px;
    border-right: 1px solid #B9B9B9;
    color: #000;
    font-weight: bolder;
}

nav div a:hover {
    color: #000;
}

#ludens {
    display: inline-block;
    margin: 2.1em 0 0 2em;
    width: 200px;
    height: 64px;
    background: url(../img/sprite-sheet.png) 0 0 no-repeat;
    background-size: 100% 380%;
}

.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  padding: 2px 12px 2px 12px;
  border: solid #666666 1px;
  text-decoration: none;
}

.btn:hover {
  background: #d6d6d6;
  background-image: -webkit-linear-gradient(top, #d6d6d6, #ffffff);
  background-image: -moz-linear-gradient(top, #d6d6d6, #ffffff);
  background-image: -ms-linear-gradient(top, #d6d6d6, #ffffff);
  background-image: -o-linear-gradient(top, #d6d6d6, #ffffff);
  background-image: linear-gradient(to bottom, #d6d6d6, #ffffff);
  text-decoration: none;
}

.header-links {
    float: right;
}

.header-links a {
    margin-left: 1em;
}

.header-right-content {
    float: right;
    margin: 3.7em 2em 0 0;
}

section {
    border-bottom: 1px solid #B9B9B9;
    margin: 0 0 0 2em;
}

.carousel {
    height: 350px;
    margin: 0 1em 2em 0;
    display: inline-block;
    padding: 0;
}

.carousel .item {
    height: 350px;
}

.carousel .item img {
    width: 100%;
}

.carousel i {
    margin-top: 100%;
}

.carousel-text {
    margin-top: 1em;
    display: inline-block;
}

.carousel-text .bold-text {
    font-weight: bold;
    font-size: 18px;
}

.carousel-text .small-text {
    margin: 1em 0;
}

.carousel-text a {
    text-decoration: underline;
}

article {
    padding: 0;
}

article .article-title {
    font-weight: bold;
}

.blog-header {
    display: inline-block;
    font-weight: bold;
    padding: 2em 2em 0 2em;
    border-right: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    width: 100%;
}

article .article-title-large {
    font-weight: bold;
    font-size: 16px;
    padding-top: 1em;
}

article div:last-child {
  border-bottom: 0;
}

.newsletter-wrapper div:first-child, .blog-wrapper div:first-child {
    padding-top: 2em;
}

.newsletter-wrapper {
    padding: 0 2em;
}

.newsletter-wrapper a {
    float: right;
    text-decoration: underline;
}

#reedus {
    display: inline-block;
    width: 576px;
    height: 280px;
    background: url(../img/sprite-sheet.png) -3px -452px no-repeat;
    background-size: 104% 280%;
    float: left;
    margin: 0 2em 1em 0;
}

.blog-wrapper-article {
  border-right: 1px solid #B9B9B9;
  border-left: 1px solid #B9B9B9;
}

.blog-wrapper {
    margin: 0 2em;
    border-bottom: 1px solid #B9B9B9;
    min-height: 230px;
}

.blog-wrapper a {
    float: right;
    text-decoration: underline;
}

.blog-wrapper>p>a {
    float: none;
}

.blog-wrapper .blog-content {
  padding-bottom: 2em;
  height: 248px;
  width: 100%;
}

.blog-wrapper .user-thumbnail {
  float: left;
  margin: 0 1.6em 1em 0;
}

.blog-date {
  padding-bottom: 1em;
}

#mikkelsen {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../img/sprite-sheet.png) -39px -293px no-repeat;
    background-size: 500% 700%;
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #B9B9B9;
}

#deltoro {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../img/sprite-sheet.png) -35px -186px no-repeat;
    background-size: 500% 700%;
}

.blog-form-wrapper {
  padding: 2em;
}

.blog-form-wrapper label {
  margin-bottom: 1em;
}

.blog-form-wrapper input {
  display: block;
  margin-bottom: 0.5em;
  width: 65%;
}

.blog-form-wrapper .btn {
  width: 70px;
}

textarea {
  width: 100%;
  height: 10em;
}

footer {
  border-top: 1px solid #B9B9B9;
  margin: 0 2em 2em 2em;
  padding: 2em 0 0 0;
}

footer p {
  font-size: 12px;
  line-height: 0.8em;
}

footer p span {
  margin-right: 1em;
  border-right: 1px solid #000;
  padding-right: 1em;
}

footer p span:last-child {
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
}

.padding-sides-none {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-device-width : 1200px) {
  .carousel-text {
    margin-bottom: 2em;
    padding: 0;
  }
  .carousel {
    margin: 0 0 2em 0;
  }
  .newsletter-article {
    margin: 0 0 0 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #B9B9B9;
  }
  .newsletter-wrapper {
    padding: 0;
  }
  nav div {
      margin: 2em 0 2em 2em;
  }
  .header-right-content, .blog-wrapper {
    margin-right: 0;
  }
  .blog-form-wrapper{
  padding-right: 0;
  }
}

@media only screen and (max-device-width : 768px){
  .blog-content {
    max-height: 130px;
  }
  .blog-wrapper-article, .blog-header {
    border-left: 0;
    border-right: 0;
  }
  article .blog-wrapper-article div:last-child {
    border-bottom: 1px solid #B9B9B9;
  }
}
